@{
    ViewData["Title"] = "Rekenmachine";
}

<h2>Index</h2>

<div><a asp-controller="/Home" asp-action="Bereken" class="btn btn-primary">Rekenmachine</a></div>
<p></p>
<div><a asp-controller="/Home" asp-action="NaamOmgekeerd" class="btn btn-primary">Keer een naam om</a></div>